<header class="header">
  <nav class="nav">
    <ul>
      <li>
        <a routerLink="/home">Todo List</a>
      </li>
      <li>
        <a routerLink="/about/info">About</a>
      </li>
    </ul>
  </nav>
  <button (click)="changeLang('ru')">ru</button>
  <button (click)="changeLang('en')">en</button>
</header>

<div>
  <select [(ngModel)]="translationService.language">
    <option *ngFor="let language of translationService.languages" [ngValue]="language">{{language}}</option>
  </select>
  
  <p>
    {{ 'todoList' | translate }}
  </p>
</div>