<header class="header">
  <nav class="nav">
    <ul>
      <li>
        <a routerLink="/home">{{ 'todoList' | translate }}</a>
      </li>
      <li>
        <a routerLink="/about/info">{{ 'about' | translate }}</a>
      </li>
    </ul>
  </nav>

  <mat-form-field appearance="fill">
    <mat-label>{{ 'languages' | translate }}</mat-label>
    <mat-select [formControl]="languageFormControl">
      <mat-option *ngFor="let language of translationService.languages" [value]="language">{{language}}</mat-option>
    </mat-select>
  </mat-form-field>

</header>


